@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    font-family: 'D-DIN Exp', sans-serif;
}

body{
    background-color: #E5E5E5;
}

.container{
    width: 360px;
    height: auto;
    margin: auto;
    background: #fff;
    padding-bottom: 10px;
}


/* START HEADER */
.header-retail{
    padding: 10px;
    display: flex;
    align-items: center;
}

.icon-close{
    cursor: pointer;
}

.text-header p{
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.line-header{
    width: 359px;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.text-order{
    font-size: 16px;
    font-weight: bold;
    padding: 25px 10px;
}
/* END HEADER */

/* START CART */
.cart-pesanan-saya{
    height: auto;
    padding-bottom: 20px;
}

.store-cart{
    height: 38px;
    background-color: #FFC535;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.store-cart input[type=checkbox]{
    width: 15px;
    height: 15px;
    border-radius: 4px;
    outline: none;
    accent-color: #fff;
}

.store-cart p{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

.container-cart-pesanan-saya{
    width: 340px;
    height: 100px;
    margin: auto;
}

.check-pesanan-saya{
    height: 60px;
    display: flex;
    align-items: center;
}

.checkbox-order input[type=checkbox]{
    width: 15px;
    height: 15px;
    outline: #ccc;
    accent-color: #FFC535;
}

.img-order img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.title-order{
    width: 240px;
    height: 60px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
}

.title-order p:nth-child(1){
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
}

.title-order p:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.title-order .price{
    display: flex;
    align-items: center;

}

.title-order .price p:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.title-order .price p:nth-child(2){
    font-size: 12px;
    font-weight: bold;
    color: #949494;
    margin-left: 10px;
}

.quantity-hapus{
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.quantity-hapus .quantity button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    background-color: #FFC535;
    color: #fff;
    cursor: pointer;
}

.quantity-hapus .quantity button:nth-child(3){
    margin-left: -16px;
}

.quantity-hapus .quantity input[type=number]{
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.icon-hapus button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.noted{
    width: 300px;
    margin-left: 25px;
    margin-top: 10px;
}

.noted p{
    font-size: 12px;
    color: #949494;
    font-weight: 100;
}

.line-cart{
    width: 360px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.container-scroll-cart{
    height: 470px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1;
}

.container-scroll-cart::-webkit-scrollbar{
    width: 0px;
}
/* END CART */

/* START ADD QUESTION */
.question-add{
    width: 332px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.text-question{
    width: 197px;
    height: 55px;
}

.text-question p:nth-child(1){
    font-size: 18px;
    font-weight: bold;
}

.text-question p:nth-child(2){
    font-size: 12px;
    font-weight: 100;
    color: #838383;
}

.question-add button{
    width: 125px;
    height: 64px;
    background-color: #FFC535;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 8px 10px 0px #0000001F;
}
/* END ADD QUESTION */


/* START BUTTON CHECKOUT */
.pesanan-saya{
    height: 50px;
    width: 340px;
    background: #FFC535;
    margin: 10px auto 10px auto;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    z-index: 999;
    border: none;
    cursor: pointer;
    color: #fff;
}
.button-pesanan{
    text-decoration: none;
}
/* END BUTTON CHECKOUT */
