@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    font-family: 'D-DIN Exp', sans-serif;
}


body{
    background-color: #E5E5E5;
}

.container-retail{
    width: 360px;
    height: auto;
    margin: auto;
    background: #fff;
    padding: 10px;
}

/* START LOGO RETAIL DAN MARKETPLACE */
.logo-retail{
    width: 158px;
    height: 76px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.marketplace img, .retail img{
    width: 60px;
}
/* END LOGO RETAIL DAN MARKETPLACE */

/* START HEADER RETAIL DAN MARKETPLACE */
.title-retail p{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.title-retail {
    margin-top: 10px;
}
/* END HEADER RETAIL DAN MARKETPLACE */

/* START MENU ICON */
.card-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-icons{
    width: 130px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    margin: 10px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.img-icon{
    height: 80px;
    width: 80px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img-icon img{
    width: 80px;
}

.menu-icons p {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 5px;
    color: #010101;
}

.menu-icons .bawapulang{
    width: 80px;
}

.card-icon a{
    text-decoration: none;
}
/* END MENU ICON  */

/* START BUTTON PESANAN */
.pesanan-saya{
    height: 50px;
    width: 340px;
    background: #FFC535;
    margin: 20px auto 10px auto;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    z-index: 999;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.button-pesanan{
    text-decoration: none;
}
/* END BUTTON PESANAN */


/* START BOTTOM SHEET */
#overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-end;
    justify-content: center;
    display: none;
}

#overlay.active{
    display: flex;
}

#bottomSheet{
    background-color: #fff;
    width: 360px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    padding: 15px 0 20px 0;
}

#bottomSheet.active{
    transform: translateY(0);
}

.jumlah-orang{
    text-align: center;
    font-weight: bold;
}

.line-bottom{
    width: 358px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-top: 15px;
}

.input-person{
    height: 85px;
    margin-top: 17px;
    padding: 0 10px;
}

.title-input p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-input input{
    width: 340px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.box-input [type=number]{
    padding:  0 10px;
    box-sizing: border-box;
    outline: none;
}

.next{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.next button{
    width: 340px;
    height: 45px;
    border-radius: 4px;
    background: #FFC535;
    color: #010101;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 10px 0px #0000001F;

}
/* END BOTTOM SHEET */

/* START FOOTER */
.logo-powered{
    margin: 20px auto 5px auto;
    width: 174px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-powered{
    margin: 0 10px;
}

.text-powered p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.img-powered{
    width: 40px;
    height: 24px;
}
/* END FOOTER */