@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    font-family: 'D-DIN Exp', sans-serif;
}

body{
    background-color: #E5E5E5;
}

/* START CONTAINER */
.container-retail{
    width: 360px;
    min-height: 100vh;
    max-height: auto;
    margin: auto;
    background: #fff;
    padding-bottom: 16px;
}
/* END CONTAINER */


/* START HEADER */
.header-retail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-retail .back{
    margin-top: 8px;
    cursor: pointer;
}

.logo{
    width: 85%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-img-retail img{
    width: 70px;
    height: 70px;
    margin: 10px;
}

.header-retail p{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0A2942;
}
/* END HEADER */


/* START SEARCH */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search{
    height: 35px;
    width: 330px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px auto;
    padding: 0 5px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    border: 1px solid #FFC535;
}

.input-search input{
    border: none;
    width: 280px;
    height: 30px;
    outline: none;
}

.input-search input[type = 'text']{
    padding: 0 10px;
}

.container-search{
    width: 35px;
    height: 35px;
    background: #FFC535;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
/* END SEARCH */



/* START LIHAT SEMUAT */
.card-product{
    width: 340px;
    height: 570px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
}

.card-product::-webkit-scrollbar{
    width: 0px;
}

.card-container{
    display: flex;
    justify-content: space-between;
}


.produk-card{
    width: 158px;
    height: 215px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px; */
}

.produk-card .desc{
    width: 158px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.img-produk{
    width: 158px;
    height: 136px;
}

.img-produk img{
    height: 136px;
    width: 158px;
}

.satu{
    background-image: url(../Assets/gluten.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 2px 0px #00000040;
    border-radius: 4.72px;
}

.dua{
    background-image: url(../Assets/double-original.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 2px 0px #00000040;
    border-radius: 4.72px;

}

.tiga{
    background-image: url(../Assets/colla-soap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 2px 0px #00000040;
    border-radius: 4.72px;

}

.empat{
    background-image: url(../Assets/tas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 2px 0px #00000040;
    border-radius: 4.72px;

}

.diskon{
    width: 35px;
    height: 35px;
    border-radius: 0px 4.72px 0px 10px;
    background-color: #FF2622;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px #0000000F;
    box-shadow: 0px 0px 4px 0px #0000000A;

}

.diskon p:nth-child(1){
    color: #fff;
    font-size: 8px;
}

.diskon p:nth-child(2){
    color: #fff;
    font-size: 12px;
}

.produk-card .text-card{
    height: 50px;
    margin-top: 5px;
}

.produk-card .text-card p:nth-child(1){
    width: 158px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}


.produk-card .text-card p:nth-child(2){
    font-size: 10px;
    color: #999;
    margin-top: 2px;
}

.rate-price{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25p;
}

.harga{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate p{
    font-size: 14px;
    font-weight: bold;
}

.price p{
    color: #010101;
    font-weight: bold;
    font-size: 12px;
}

.before-diskon{
    width: 100%;
    display: flex;
    justify-content: right;
}

.before-diskon s{
    font-size: 10px;
    color: #949494;
}
/* END LIHAT SEMUAT */



/* START BUTTON CART */
.pesanan-saya{
    height: 50px;
    width: 320px;
    background: #FFC535;
    margin: 10px auto 10px auto;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 999;
    border: none;
    cursor: pointer;
}

.cart-detail{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cart-detail .detail{
    text-align: left;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail p:nth-child(1){
    font-size: 14px;
    color: #010101;
    font-weight: bold;
}

.detail p:nth-child(2){
    font-size: 10px;
    color: #5B5B5B;
    margin-top: 2px;
}

.cart-price{
    font-size: 14px;
    font-weight: bold;
    color: #010101;
}

.button-pesanan a{
    text-decoration: none;
}
/* END BUTTON CART */