@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    font-family: 'D-DIN Exp', sans-serif;
}

body{
    background-color: #E5E5E5;
}

.container{
    width: 360px;
    min-height: 100vh;
    max-height: auto;
    margin: auto;
    background: #fff;
    padding-bottom: 10px;
}

.img-payment img{
    margin: 50px 10px 0 10px;
}

.text-payment{
    margin: auto;
}

.title-payment{
    width: 210px;
    margin: auto;
}

.title-payment p:nth-child(1), 
.title-payment p:nth-child(2){
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.detail-payment{
    width: 310px;
    margin: 5px auto;
}

.detail-payment p{
    font-size: 14px;
    text-align: center;
    color: #ccc;
}

button{
    width: 170px;
    height: 45px;
    border-radius: 5px;
    background-color: #FFC535;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 6px 10px 0px #00000014;
    cursor: pointer;
    border: none;
    margin: 20px 95px;
}